<header>
  <h1>{{name}}</h1>
  <h2>{{introText}}</h2>

  <button *ngIf="status === 'unstarted'" (click)='start()' class="start">→ Start!</button>
</header>

<!-- show form is user has pressed start -->
<my-form *ngIf="status === 'started'"
  [status]="status"
  [questions]="questions"
  (onSubmit)="onSubmit($event)"
  (onRestart)="onRestart($event)"></my-form>

<!-- show result if user has submitted -->
<my-result *ngIf="status === 'submitted'"
  [status]="status"
  [questions]="questions"
  (onRestart)="onRestart($event)"></my-result>
