<header>
  <h1>{{name}}</h1>
  <h2>{{introText}}</h2>

  <button *ngIf="!isStarted" (click)='start()' class="start">→ Start!</button>
</header>

<form *ngIf="isStarted" #form="ngForm" (ngSubmit)='handIn(form.value, form.valid)' novalidate>
  <button *ngIf="isStarted" (click)='reStart()' class="restart">↻ Begin opnieuw</button>
  <ul class="questions">
    <li *ngFor="let question of questions">
      <my-question-detail [question]="question"></my-question-detail>
    </li>
  </ul>
  <footer>
    <button type="submit">↓ Lever in</button>
  </footer>
</form>
