<!-- show form fields if assigment is started -->
<div *ngIf="status === 'started'">
  <ul class="answers">
    <li *ngFor="let answer of question.answers">
      <label>
        <input [(ngModel)]="question.userAnswer"
          [value]="answer.answerId"
          type="radio" name="answer">
        {{answer.answer}}
      </label>
    </li>
  </ul>
</div>

<!-- show results if assignment is submitted -->
<div *ngIf="status === 'submitted'">
  <ul class="answers">
    <li *ngFor="let answer of question.answers"
      [ngClass]="{
        'user-is-right': answer.isCorrect && answer.answerId === question.userAnswer,
        'user-is-wrong': !answer.isCorrect && answer.answerId === question.userAnswer
      }">
        {{answer.answer}}
    </li>
  </ul>
</div>
