<h3>Vraag {{question.questionId}}</h3>

<p>{{question.question}}</p>

<!-- show form fields if assigment is started -->
<!-- <div> -->
<div *ngIf="status === 'started'">
  <ul *ngIf="question.questionType === 'multiple_choice'" class="answers">
    <li *ngFor="let answer of question.answers">
      <label>
        <!-- todo remove change event -->
        <input [(ngModel)]="question.userAnswer"
          [value]="answer.answerId"
          type="radio" name="answer">
        {{answer.answer}}
      </label>
    </li>
  </ul>

  <textarea *ngIf="question.questionType === 'open_question'" [(ngModel)]="question.userAnswer"
    name="userAnswer" id="userAnswer" rows="10"></textarea>
</div>

<!-- show results if assignment is submitted -->
<div *ngIf="status === 'submitted'">
<!-- <div > -->
  <ul *ngIf="question.questionType === 'multiple_choice'" class="answers">
    <li *ngFor="let answer of question.answers"
      [ngClass]="{'is-correct': answer.isCorrect}"
      [ngClass]="{'is-user-answer': answer.answerId === question.userAnswer}">
        {{answer.answerId}}
        {{question.userAnswer}}
        {{answer.answer}}
    </li>
  </ul>

  <p *ngIf="question.questionType === 'open_question'"
    id="userAnswer">{{question.userAnswer}}</p>

</div>
