:root {
  --gray-lightest: #f2f2f2;
  --gray-light: #e1e8f0;
  --gray-medium: #858585;
  --gray-dark: #292929;
  --purple: #9068be;
  --purple-dark: #6a4198;
  --red: #e62739;
  --turquoise: #6ed3cf;
}

html {
  font-size: 14px;
}

@media (min-width: 600px) {
  html {
    font-size: 16px;
  }
}

body {
  font-size: 1rem;
  background: var(--gray-lightest);
  font-family: Arial, Helvetica, sans-serif;
  color: var(--gray-dark);
}

my-app {
  display: block;
  max-width: 800px;
  margin: 0 auto;
  padding: 5vh 1em;
}

h1 {
  font-size: 3em;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
}

button {
  background: var(--purple);
  color: white;
  border: none;
  padding: 0.3em 0.5em;
  font-size: 1.2em;
  letter-spacing: 0.05;
  cursor: pointer;
}

button:hover {
  background: var(--purple-dark);
}

pre {
  background: white;
  font-size: 80%;
  overflow-x: auto;
}

pre:empty {
  display: none;
}

